<div class="logo">
  <img src="assets/images/budgetio.png">
</div>
<div id="welcome">
  <div class="wrapper">
    <div class="span12">
      <data-owl-carousel class="owl-carousel"
                         data-options="{navigation: true, slideSpeed: 300, paginationSpeed: 400, singleItem: true, transitionStyle : 'fade'}">
        <div owl-carousel-item="" class="item slide0" ng-class="['item', item.slideClass]" ng-repeat="item in ::welcomeCategories">
          <video autoplay id="video" muted width="100%" height="100%" ng-show="item.video">
            <source src="{{item.source}}" type="video/mp4" ng-if="item.source">
          </video>
          <div class="centerboxy" ng-show="!item.video">
            <span class="title">How much do you want to spend on your <b>{{item.title}}</b>?</span>
            <div class="input">
              <span class="currency">€</span>
              <input autofocus="active" type="text" placeholder ="000.00" ng-model="item.value" ng-pattern="/^\d+(\.\d{1,2})?$/" ng-keyup="$event.keyCode == 13 && !checkNextAvailable(item) && next(item)"/>
              <span class="next" ng-click="checkNextAvailable(item) || next(item)" data-ng-disabled="checkNextAvailable(item)"></span>
            </div>
          </div>
        </div>
      </data-owl-carousel>
    </div>
  </div>
</div>
