<div class="logo">
  <img src="assets/images/budgetio.png">
</div>
<div id="welcome">
  <div class="wrapper">
    <div class="span12">
      <data-owl-carousel class="owl-carousel"
                         data-options="{navigation: true, slideSpeed: 300, paginationSpeed: 400, singleItem: true, transitionStyle : 'fade'}">
        <div owl-carousel-item="" class="item slide1" ng-repeat="item in ::welcomeCategories">
          <div class="centerboxy">
            <span class="title">How much do you want to spend on your <b>{{item.title}}</b>?</span>
            <div class="input"><span class="currency">€</span><input type="text" placeholder ="000.00" /> <span class="next" ng-click="next(item)"></span></div>
          </div>
        </div>
      </data-owl-carousel>
    </div>

  </div>
</div>
