.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
@font-face {
  font-family: 'Roboto';

  src: url('../fonts/Roboto-Thin.ttf');
}
input:focus {outline: none;}
h2 {color:#919191;}
/* webkit solution */

input.primary{background:#049caf; color:#fff; padding:20px; font-family:20px; border:0px;border-radius:10px;font-size:20px;}
::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
input:-moz-placeholder { text-align:right; }

header {background:#049caf; width: 100%; display: inline-block; height: 100px;}
.lefty {float:left;}
.box.white {background: #fff; margin-top:-90px; text-align:center; padding:10px;box-shadow: 1px 10px 5px #888888;}
.box.white a{font-size:2em; color:#39393b;}
.box.white a:hover{text-decoration: none;color:#39393b; }
.wrapper {padding:15px;}
.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 103px;
  z-index: 1;}
.logo img {width: 100%;}
/*welcome carousel */
.slide1{
  background-image: url("../assets/images/bg-food.png");
  background-size: cover;
}

.slide2{
  background-image: url("../assets/images/bg-hobby.png");
  background-size: cover;
}
.slide3{
  background-image: url("../assets/images/bg-holiday.png");
  background-size: cover;
}
.next {background-image: url("../assets/images/arrow-right.png"); height: 128px; width: 128px; position: absolute;right: 0px; bottom:0px; cursor: pointer;}
.amountBox {margin-top:-27px;}
.amountBox  + .category {margin-left:-25px;}
.item .centerboxy {position:absolute;left:50%;margin-left:-350px;top:50%;margin-top:-100px;width:700px;height:200px;  font-family: Roboto;}
.item .centerboxy .title b{text-decoration: underline; color: #049caf; text-shadow:1px 1px 36px rgba(255, 255, 255, 1);}
.item .centerboxy input { width: 80%; border-radius: 10px; font-size: 3.5em; background:none; border:0px; border-bottom:1px solid #eee; text-align: right; padding-right: 20px; color:#fff; }
.item .centerboxy .input {margin-top:40px;position: relative;}
.item .centerboxy .currency {position: absolute;left: 0px; font-size: 3.5em; color:#fff;	}

.title {color:#fff;font-size: 4em;}
.subtitle{color:#919191; font-size:3em;}
.owl-controls {
  position:absolute;left:50%;margin-left:-350px;bottom:0px;width:700px;  bottom: 20px;
}
.owl-theme .owl-controls .owl-page.active span
{
  opacity: 1;
  background: #049caf;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
}

.owl-theme .owl-controls .owl-page span
{
  border: 1px solid #fff;
  width: 20px ;
  height: 20px;
}

.owl-buttons {display: none;}



/*dashboard */
.amount, .currency {font-size:4.5em; color:#049caf; margin-right: 10px;}
.category {width:200px;}
.categoryTitle {display: inline-block; width: 100%; overflow: hidden; text-align: center;font-size: 2em; color:#393939; margin-top:-50px;}

#ascrail2000 {opacity: 1 !important}
.transactions {height: 350px;}
.transaction {width: 100%; display: inline-block; border-bottom:1px solid #eee; padding:5px 0px;}
.transaction .amount, .transaction .currency{font-size:32px;}
.type {border-radius: 50%; padding:10px 20px; color:#fff;font-size:32px;width: 65px;text-align: center;}
.type.food {background: #f68e56}
.transaction .location {width:100%; display: inline-block;}
.transaction .category {width:75px;}

.ginified {background:white; width: 100%; height: 100%; margin:0 auto; position: relative;}
.ginified input.primary {margin:20px 0px;}
.ginified table.products {width: 100%; font-size:2em;}
.ginified table.products tr {border-bottom:1px solid #eee; height: 60px;}
.confirm{
  float: right;
  margin-top: 60px !important;
}
.close {position: absolute;z-index: 99; right:10px; top:10px;}
td.price, th.price{text-align: right; padding-right:10px;}
td.price.total{font-weight: bold;}
.show .ginified, .show .ginified .wrapper{display: block;}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector
